* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(242, 216, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    margin-bottom: 20px;
}

form {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p {
    text-align: center;
    margin-top: 10px;
}
